.household_products {
    padding: 4rem 0;

    h2 {
        text-align: center;
    }
    .search {
        border-bottom: 1px solid white;
        border-top: 1px solid;
        padding: 2.5rem 0;
        margin: 2.5rem 0;
    }
    .house_products {
        display: flex;
        gap: 1.25rem;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 6rem;
    }
}
