.partners {
    background: #c0e5fc;
    color: black;
    padding: 1.5rem 0;

    .image_slide {
        padding: 1rem 0;

        .box {
            display: flex;
            justify-content: center;
        }

        .pics {
            display: flex;
            align-items: center;
            gap: 2rem;
            overflow: auto;
            scroll-behavior: smooth;
        }

        .pics::-webkit-scrollbar {
            display: none;
        }

        .pic > img {
            width: 20rem;
            height: 20rem;
            border-radius: 1rem;
        }

        // .logo > img {
        //     width: 7rem;
        //     height: 4rem;
        // }
    }
}
