.liveStore {
    background: #c0e5fc;
    padding: 6rem 0;
    margin-top: -2px;
    .livestore_container {
        background-color: #10025d;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        align-items: center;
        justify-content: space-between;
        border-radius: 1.5rem;
        padding: 2.5rem;
    }

    .livestore_content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .livestore_header {
            min-width: 40%;
            display: flex;
            align-items: flex-start;
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.25rem;
        }
        .btn {
            border: 1px solid #fff;
            color: #fff;
            width: fit-content;
        }
    }

    .threed_product {
        position: relative;
        .threed_image1 {
            width: 100%;
            height: 35rem;
        }
        .threed_link {
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            top: 2%;
            right: 2%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .liveStore {
        .threed_product {
            .threed_image1 {
                height: 20rem;
            }
        }
    }
}
