.image_slide {
    padding: 3rem 0;

    .box {
        display: flex;
        justify-content: center;
    }

    .pics {
        display: flex;
        align-items: center;
        gap: 2rem;
        overflow: auto;
        scroll-behavior: smooth;
    }

    .pics::-webkit-scrollbar {
        display: none;
    }

    .pic > img {
        width: 20rem;
        height: 20rem;
        border-radius: 1rem;
    }

    .logo > img {
        width: 7rem;
        height: 4rem;
    }
}

@media (min-width: 500px) {
    .image_slide {
        .pic > img {
            width: 25rem;
            height: 25.5rem;
        }
        .logo > img {
            width: 10rem;
        }
    }
}
